{% extends "layout.html" %}

{% block content %}

<div class="form-card">

<h2>Edit Transaction</h2>

<form method="POST">

    <input type="date"
           name="transaction_date"
           value="{{ txn[1] }}"
           required>

    <select name="transaction_type">

        <option {% if txn[2]=='Expense' %}selected{% endif %}>
            Expense
        </option>

        <option {% if txn[2]=='Income' %}selected{% endif %}>
            Income
        </option>

    </select>

    <input type="number"
           step="0.01"
           name="amount"
           value="{{ txn[3] }}"
           required>

    <input type="text"
           name="category"
           value="{{ txn[4] }}"
           required>

    <input type="text"
           name="note"
           value="{{ txn[5] }}">

    <button type="submit">
        Update
    </button>

</form>

</div>

{% endblock %}