{% extends "layout.html" %}

{% block content %}

<div class="form-card">

<h2>My Profile</h2>

<p>
    <strong>Name:</strong>
    {{ current_user.name }}
</p>

<p>
    <strong>Email:</strong>
    {{ current_user.email }}
</p>


</div>

<div class="form-card">

<h2>Update Name</h2>

<form method="POST">

    <input
        type="text"
        name="name"
        value="{{ current_user.name }}"
        required>

    <button type="submit">
        Update Name
    </button>

</form>


</div>

{% endblock %}
